{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet"> <!-- Importing Google cursive font -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
    <!-- Display messages at the top of the screen if any exist -->
    {% if messages %}
        {% for message in messages %}
            {{ message }}
            <br>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
<footer>
    {% block footer %}
    {% endblock %}
</footer>

</html>