{% extends 'base.html' %}

{% block title %}
{{ course.title }}
{% endblock %}

{% block content %}
<div class="lg:w-1/2 lg:mx-auto flex flex-col">
    <h1 class="font-bold">{{ course.title }}{% if course.author %} by {{ course.author }}{% endif %} ({{ course.date_posted }})</h1>
    {% if request.user.learner and not course_in_account %}
    <a href="{% url 'add-course-to-learner-account' course.id %}"><button class="underline" type="button">Add course to account</button></a>
    {% elif not request.user.is_authenticated %}
    <a class="underline" href="{% url 'log-in' %}">Log in as a learner to add this course to your account!</a>
    {% endif %}
    <p>{{ course.description }}</p>
    <div class="py-2">
        <h2 class="font-medium border-b-2 border-alt mb-2">Lessons</h2>
        {% for lesson in lessons %}
        <h3 class="font-semibold underline mb-2">{{ lesson.title }}{% if lesson.author %} by {{ lesson.author }}{% endif %} ({{ lesson.date_posted }})</h3>
        <div>
            <p>{{ lesson.content }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}